<h1>Article list Component</h1>

<div class="component" *ngFor="let article of tableauArticle">
  <app-article [article]="article"></app-article>
</div>

<h2>Welcome to my {{ composant }}</h2>

<h3>{{ variable }}</h3>
