<div class="component">
  <app-addition></app-addition>
</div>


<div class="component">
  <app-soustraction></app-soustraction>
</div>

<div class="component">
  <app-multiplication></app-multiplication>
</div>
