<h2>Garage Component</h2>

<ol>
  <li *ngFor="let people of peoples">{{ people }}</li>
</ol>

<table class="table">
  <thead>
    <th>Nombre de portes</th>
    <th>Couleur</th>
    <th>Carburant</th>
    <th>Possède une boite automatique</th>
    <th>Le frein à main est in enclanché</th>
    <th>Moteur</th>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{ car.nbPortes }}</td>
      <td>{{ car.couleur }}</td>
      <td>{{ car.carburant }}</td>
      <td *ngIf="car.boiteAutomatique">Oui</td>
      <td *ngIf="!car.boiteAutomatique">Non</td>
      <td *ngIf="car.freinAMainEnclenche">Oui</td>
      <td *ngIf="!car.freinAMainEnclenche">Non</td>
      <td> {{ car.moteur.model }} {{ car.moteur.nbCheveaux }} cheveaux</td>
    </tr>
  </tbody>
</table>
