<div class="component">
  <h1>App Component</h1>

  <header>

    <h2>Bonjour depuis mon component {{ composant }} </h2>

    <div class="component">



      <app-menu></app-menu>


    </div>

    <div class="component">
      <app-toogle-image></app-toogle-image>
    </div>

    <div class="component">
      <app-article-list></app-article-list>
    </div>

    <div class="component">
      <app-calculette></app-calculette>
    </div>

    <div class="component">
      <app-garage></app-garage>
    </div>

    Objet Voiture : <br>

    Moteur : {{ voiture.moteur.model }} <br>
    Modele : <br>
    Nombre de km : <br>
    Couleur : <br>
    ...

  </header>
</div>

