<img *ngIf="this.dislpayImage" src="assets/images/1.jpg"/><br>

<button *ngIf="!this.dislpayImage" (click)="toogleImage()">Afficher l'image</button>

<button *ngIf="this.dislpayImage" (click)="toogleImage()">Cacher l'image</button>


<p *ngIf="this.displayText">Hello world welcome to my page</p>

<div [ngSwitch]="mood">
  <img *ngSwitchCase="'Happy'" src="assets/images/happy.jpg"/>
  <img *ngSwitchCase="'Sad'"src="assets/images/sad.jpg"/>
  <p *ngSwitchDefault>Je suis apathique</p>
</div>

<button (click)="changerHumeur('happy')">Devenir heureux</button>

<button (click)="changerHumeur('sad')">Devenir malheureux</button>


